html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $color-dark;
	padding: 50px 0;
}

.side-wrapper {
	width: 80%;
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 100px;
}
