.heading-1 {
	font-size: 3.6rem;
}
.heading-2 {
	font-size: 1.8rem;
}
.heading-3 {
	font-style: 2.4rem;
}
.heading-4 {
	font-size: 1.8rem;
}
.desc {
	font-size: 1.6rem;
}
.desc-technology {
	font-size: 1.4rem;
}
.--txt-light {
	color: $color-light;
}
