.heading--1 {
	font-size: 4.2rem;
}
.heading--2 {
	font-size: 2.6rem;
}
.heading--3 {
	font-size: 3.2rem;
}
.heading--4 {
	font-size: 2.4rem;
}
.text {
	font-size: 2rem;
	line-height: 1.2;
}

.text--sm {
	font-size: 1.8rem;
}

.text--xsm {
	font-size: 1.4rem;
}

.desc-technology {
	font-size: 1.8rem;
}
.--is-bold {
	font-weight: 600;
}
.--txt-light {
	color: $color-light;
}
.--txt-grey {
	color: $color-grey;
}

.--txt-light-blue {
	color: $color-light-blue;
}
